*{
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(179, 194, 194);
}
h1{
    text-align: center;
}

.online-shoping-container{
background-color: white;
max-width: 800px;
margin: auto ;
padding: 10px;
border-radius: 5px;
box-shadow: 0 4px 8px 0 rgb(189, 189, 189);
margin-top: 5px;


}
.product-row{
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
    padding: 10px ;
    border-radius:5px;
    align-items: center;
    margin: 10px;
}
button{
    background-color: rgb(104, 104, 189);
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
}
button:hover{
    background-color: rgb(66, 66, 199);
}
h2{
    margin: 10px 0;
}
#feedback{
  
    position: fixed;
    top: 20px;
    right: 20px;
    background-color: white;
    padding: 10px;
    display: none;
    color: white;

   
}
#totalPrice{
    text-align: right;
}